*{
    padding: 0;
    margin: 0;
    border: 0;
}
/*cabeçalho*/
.topo{
    padding: 33px;
    width: 1280px;
    height: 613px;
    left: 0px;
    top: 0px;
    background-color: black;
}

.ola{
    position: absolute;
    width: 539px;
    padding: 30px;
    height: 52px;
    left: 87px;
    top: 200px;
    margin: 0, 10, 0, 10;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

    color: #FFFFFF;

}
.button{
    margin: 10px;
    width: 315px;
    height: 62px;
    border-radius: 100px;
    font-size: 18px;
}
.button :hover{
    margin: 10px;
    width: 315px;
    height: 62px;
    border-radius: 100px;
    font-size: 18px;
}
.foto img{
    max-width: 550px;
    margin-left: 650px;
    margin-top: 80px;

}

/*meio da pagina*/

main{
    margin: 1px;
    padding: 2px;
    align-items:inherit;
    flex-direction: column;
    display:flex;
}

.resumo{
    margin-top: 80px;
    margin-left: 15px;
    padding: 50px ;
}

.resumo h2{
    font-size: 30px;
    display: flex;
    align-items:flex-start ;
    writing-mode: vertical-lr;
}
.resumo, .p{
    gap: 20px;
    align-items: center;
    display: inline-flex;
    width: 1109px;
    height: 105px;
}

#experiencia{
    position: absolute;
    gap: 35px;
    display: flex;
    align-items: flex-start;
    width: 680px;
    margin-left: 58px;
    padding: auto;
}
#experiencia h2{
    width: 30px;
    height: 390px;
    display: flex;
    align-items: flex-start;
    font-size: 30px;
    writing-mode: vertical-lr;
}
.experiencias{
    display: flex;
    flex-direction: column;
    float: right;
}
.container2{
    width:590px;
    float: right;
    display: flex;
    flex-direction: column;
}

.container2 h2{
    font-size: 30px;
    writing-mode: vertical-lr;
}
.certificado{    
    flex-direction: column;
    float:inline-start;
 
}
.certificado p{
    width: 450px;
    float: right;
}

#contato img{
    float: right;
    display: inline-flex;
    max-width: 449px;
    
}
footer{
    height: 200px;
    background-color: #222222;
}

.gostou{
    padding: 80px;
    align-items: center;
}
.gostou p{
    font-size: 28px;
}

.baixar a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;   
    text-align: center;    
    color: #000000;
}
.baixar {
    float: right;
    margin: 10px;
    width: 315px;
    height: 62px;
    border-radius: 100px;
    font-size: 18px;
}
.baixar :hover{
    margin: 10px;
    width: 315px;
    height: 62px;
    border-radius: 100px;
    font-size: 18px;
}